body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
span, li{

  margin: 10px;

}

span{
  float:left;
  color: brown;
  border:1px solid grey;
  text-align: center;
}
span li{
  font-size: 14px;
}
.view-event{
  float: left;
}
